NEXT_PUBLIC_SUPABASE_URL=https://stzieqkgyktsrtauytmu.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN0emllcWtneWt0c3J0YXV5dG11Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDU0OTE1NzYsImV4cCI6MjA2MTA2NzU3Nn0.FaTnS7bQYhCSPa6XpOabrPJQwN4l10kTgps5KlVqZgs
ADMIN_USERNAME=
ADMIN_PASSWORD=
IMAGE_API_ORIGIN=
IMAGE_API_AUTH_TOKEN=
